.SideNavOpen{
    background-color: red;
    width : 20vw;
    height : 95vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
}
.MenuButton{
    width : 100%;
    height :100%;
}
.HamburgerContainer{
    width : 20%;
    height : auto;
}
.SideNavClosed{
    width: 10vw;
    height : 95vh;
    background-color: yellow;
    display: flex;
}
