.NavBarContainer {
    background-color : yellow;
    width : 100vw;
    height : 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.DropDownContainer{

    text-decoration: none;
    height : 80%;
    width : 20%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.TextDisplay{
    text-decoration: none;
    font-size: 3ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.IconContainer{
    width : 15%;
    height : 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.IconImg{
    height : 90%;
    width : auto;
}
.IconText{
    font-size: 3ch; 
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}